/* src/components/pages/IndexPage/IndexPage.module.css */
.indexPage {
    text-align: center;
    background-color: #000000;
  }
  
  .indexPage h1 {
    color: #333;
  }
  
  .indexPage p {
    color: #666;
  }

  