/* src/components/atoms/Title.css */

.title {
    font-family: 'Arial, sans-serif';
    color: #333;
  }

.common-margin {
    margin: 10px 0;
}

.h1 {
  font-weight: bold;
  font-size: 2em;
}

.h2 {
  font-size: 1.75em;
}

.h3 {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.5em;
}

.h4 {
  font-size: 1.25em;
}

.h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
}

.h6 {
  font-size: 0.94em;
}


  