:root {
  --primary-color: rgb(255, 217, 0);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --highlight-shadow-color: rgba(255, 233, 36, 0.788);
}

.card {
  margin: 10px;
  padding: 12px 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px var(--shadow-color), 0 4px 8px var(--highlight-shadow-color);
  border: 3px solid var(--primary-color);
  max-width: 229px;
  min-height: 350px;
  width: 235px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px var(--shadow-color);
}


.headerCardGrid{
  display: flex; /* Arrange children in a row */
  justify-content: space-between;
}

.attribute{
  display: flex;
  gap: 2px;
}

.pokemonAttributesList{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  position: relative;
  background: linear-gradient(135deg, #FFFBFB 0%, #90C98D 100%);
  border-radius: 8px; /* Bordes redondeados */
  padding: 3px 10px; /* Espaciado interno para mejor legibilidad */
  color: #387F39; /* Color de texto para contrastar con el fondo */
}

.example1{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.pokemonAttribute {
  display: flex;
  gap: 8px;
  justify-content: space-evenly;
  position: relative;
  background: #90C98D; /* Gradiente suave */
  border-radius: 8px; /* Bordes redondeados */
  padding: 3px 10px; /* Espaciado interno para mejor legibilidad */
  color: #333; /* Color de texto para contrastar con el fondo */
}